:root {
    --bs-primary: #A8C400;
    --bs-secondary: #D1FA31;
    --focus-active: #BBE217;
    --background: #FBFFE1;
    --shadow: #EEFFA9;
}
* {
    font-family: 'Noto Sans TC',"Microsoft JhengHei", sans-serif, "Arial";
}

/* header */
.navbar-brand img {
    max-height: 48px;
    font-weight: auto;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    font-weight: bold;
    border-bottom: 2px solid var(--bs-primary);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--bs-primary);
    font-weight: bold;
}
.media-btn span {
    display:none;
}
main {
    padding: 0 2em;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}
.section-title {
    font-size: 24px;
}
/* banner */
.banner-card {
    background-color: #C6C6C6;
    min-height: 640px;
    border-radius: 16px;
    padding: 1em 5em 0;
    position: relative;
}
.slogan {
    color: #fff;
    font-size: 10em;
    font-weight: bold;
}
.slogan h1 {
    font-size: 400px;
    font-weight: 700;
    letter-spacing: 2rem;
    line-height: 1.25;
}
.name-slogan {
    background-color: #000;
    color: var(--bs-secondary);
    border-radius: 48px;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: -1%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.vote-icon {
    stroke: var(--bs-secondary);
    stroke-width:2;
}
.vote-num {
    width: 32px;
    height: 32px;
}
.light-button {
    background-color: var(--bs-secondary);
    color: #000!important;
    padding: .5rem 1rem;
    border-radius: 48px;    
    text-decoration: none;
}
.light-button img {
    height: 28px;
}
.banner-meow {
    height: 24vw;
    width: auto;
    position: absolute;
    right: 5em;
    bottom: -2em;
}
.meow-info .light-button {
    position: absolute;
    bottom: 1.8rem;
    right: 16vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.light-button:hover {
    background-color: var(--focus-active);
}
.banner {
    position: relative;
}
.banner .close-btn {
    position: absolute;
    right: 2em;
    top: 1em;
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 2em;
}
.banner .close-btn:hover {
    color: var(--focus-active);
}

.banner-card.back {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: -2em;
    min-height: 640px;
    height: 930px;
    width: 100vw;    
    padding-bottom: 10em;
    display:none;
}
.show {
    display: block !important;
}
.hide {
    display: none !important;
}
.banner-card.back img {
    width: 30vw; 
    transform: translateX(8vw);
}
.back-info .top {
    margin-left:15em;
}
.back-info .top h2 {
    font-size: 10em;
    font-weight: 700;
}
.back-info .bottom {
    background-color: var(--focus-active);
    border-radius: 24px;
    padding: 5em 10em;
    font-size: 20px;
}
.back-info .bottom * {
    font-weight: 600;
}

    
/* section */
.section:not(:first-child) {
    padding-top: 5em;
    padding-bottom: 5em;
    /* max-width: 100%;
    overflow-x: hidden; */
}
.section-title,
.event-descript h3,
.event-date,
.tab-title {
    color: var(--bs-primary);
}
.section-title h2 {
    font-weight: 700;
    letter-spacing: 2px;
}
.events-card + .events-card {
    margin-top: 3em;
}
.event-img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    filter: drop-shadow(13px 18px 0px var(--shadow));
}
.event-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.jc-50 {
    justify-content: space-around;
}
.dona-total {
    background-color: #000;
    color: var(--bs-primary);
    border-radius: 16px;
    padding: .5em 1em;
}
.dona-level {
    cursor:pointer;
    border: 1px solid var(--bs-primary);
    border-radius: 16px;
    padding: 1em 1.5em;
    display: flex;
    justify-content: space-between;
}

.dona-level:not(:last-child) .num-price:before {
    content:'NT$';
    font-size: .8rem;
    color:#8C8C8C;
    margin-right: .5rem;
}


.dona-level:hover {
    background-color: #000;
}
.dona-level:hover .level-name {
    color: var(--bs-primary);
}
.dona-level:not(:last-child):hover  .num-price:before {
    color:#fff;
}
.dona-level+.dona-level {
    margin-top: 1em;
}

.level-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}
.level-name {
    font-weight: bold;
}
.level-icon svg {
    width: 110px;
    stroke:#C6C6C6;
    stroke-width:5;
    stroke-linecap: round; 
    stroke-linejoin: round;
}
.level-people {
    background-color: var(--shadow);
    border-radius: 8px;
    padding: .5em 1em;
}
.dona-level:hover .level-icon svg {
    stroke:#fff;
}


/* tab */
#meow-tabContent,
#meow-tab.nav-pills .nav-link.active {
    background-color: var(--background);
}
#meow-tab.nav-pills .nav-link {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    color: #000;
    border-radius: 16px 16px 0 0;
    background-color: var(--focus-active);
}
#meow-tabContent .tab-card {
    background-image: url(../img/tab-card-bg.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#meow-tab.nav-pills .nav-link:hover {
    background-color: var(--bs-secondary);
}

/* service */
.service-form {
    background-color: var(--background);
    border-radius: 16px;
}
.service-form .submit-btn {
    border-radius: 16px;
    font-size: 20px;
}
.service-list {
    position: relative;
}
.service-meow {
    position: absolute;
    height: 20vw;
    bottom:1.5em;
    left: -30%;
    z-index: -1;
}

/*footer*/
footer {
    background-color: #000;
    color:#fff;
}

footer img {
    width: 100%;
}
footer .link-title {
    color:var(--bs-primary);
    margin-bottom: 1.5em;
}
footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color:var(--bs-secondary);
}
.has-icon.address:before {
    content: url('../img/icons/MapPin.svg');
}
.has-icon.phone:before {
    content: url('../img/icons/Phone.svg');
}
.has-icon.mail:before {
    content: url('../img/icons/Envelope.svg');
}
.connect-info .info-item.has-icon:before {
    margin-right:.5rem;
}
.connect-info .info-item {
    display: flex;
    align-items: center;
}
@media(max-width: 1920px) {
    .slogan h1 {
        font-size: 386px;
        letter-spacing: 2rem;
    }
    .banner-meow {
        height: 30vw;
        right: 3em;
        bottom: -2em;
    }
    .meow-info .light-button {
        bottom: 2.5rem;
        right: 20vw;
    }
}


@media(max-width: 1440px) {
    .banner-card {
        padding: 1em 1em 0;
    }
    .banner-meow {
        height: 36vw;
        right: 0;
        bottom: 0;
    }
    .name-slogan {
        top: 48%;
        left: -2%;
    }
    .slogan h1 {
        font-size: 1.65em;
        letter-spacing: 1.5rem;
        line-height: 1.4;
    }
    .meow-info .light-button {
        right: 17vw;
    }
    .jc-50 {
        justify-content: space-around;
    }

    .back-info .top {
        margin-left:10em;
    }
    .back-info .top h2 {
        font-size: 10em;
    }
    .back-info .bottom h6 {
        font-size: 1em;
    }
    .back-info .bottom {
        font-size: 16px;
    }
}

@media(max-width: 960px) {
    /* .nav.navbar {
        background: transparent!important;
        backdrop-filter: blur(10px);
    }
    .navbar-collapse.show {
        height: calc(100vh + 58px);
        flex-basis: 50%;
        flex-grow: inherit;
        margin-left: auto;
        padding: 1em;
    
    } */
    .navbar-collapse .nav-item {
        width: fit-content;
    }
    .btn-group {
        display:flex;
        flex-direction: column;
    }
    .media-btn {
        display: flex;
        align-items: center;
        color: #000;
        text-decoration: none;
    }
    .media-btn span {
        display:block;
        margin-left: .5rem;
    }    
    .banner-card {
        min-height: unset;
        margin-top: 90vw;
        padding: 0 1em;
    }
    .slogan h1 {
        font-size: 65px;
        letter-spacing: .5rem;
        line-height: 2.2;
    }
    .name-slogan {
        top: 43%;
        left: -2%;
    }
    .banner-meow {
        height: 90vw;
        right: 0;
        bottom: unset;
        top: -86vw;
    }
    .meow-info .light-button {
        right: unset;
        top: -20vw;
        height: fit-content;
    }
    
}
